* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.form-container {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #455A64;

}

.header {
  display: flex;
  justify-content: center;
}

#linked,
#list {
  display: inline-block;
  margin-top: 0;
  color: #FFFFFF;
  font-size: 70px;
  letter-spacing: 2px;
}

#linked {
  margin-right: 10px;
}

#list {
  margin-left: 10px;
}

.icon {
  width: 100px;
  height: 100px;
  padding-bottom: 15px;
}

.user-input {
  display: block;
  width: 80%;
  height: 40px;
  margin: 25px auto;
  padding-left: 10px;
  color: #455A64;
  font-family: inherit;
  font-size: 25px;
  font-weight: 400;
}

.required {
  margin: 0;
  align-self: flex-start;
  padding-left: 65px;
}

.enter-btn,
.clear-btn {
  width: 80%;
  height: 40px;
  display: block;
  margin: 25px auto;
  border: none;
  background-color: #FFC107;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  outline: none;
}

.enter-btn:hover,
.clear-btn:hover {
  background-color: #FFD773;
  color: #FFFFFF;
}

.enter-btn:disabled,
.clear-btn:disabled {
  background-color: #CFD8DC;
}

.count {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
  color: #CFD8DC;
  font-size: 20px;
  letter-spacing: 1px;
}

.total-count,
.read-count,
.unread-count {
  display: inline-flex;
  padding-left: 5px;
}

.bookmark-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CFD8DC;
}

.filler-container {
  display: flex;
  height: 100vh;
}

.filler-text {
  align-self: center;
  padding: 10px;
  color: #455A64;
  font-size: 75px;
  opacity: 0.5;
  text-align: center;
}

.bookmark {
  width: 90%;
  margin-top: 20px;
  border: 3px solid #607D8B;
  background-color: #FFFFFF;
}

.read {
  background-color: #F2F4F4;
}

.content {
  padding: 20px;
}

.title {
  margin: 0;
  padding-bottom: 10px;
  color: #455A64;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  display: block;
  margin-bottom: 20px;
  padding: 20px 0;
  border-top: 2px solid #CFD8DC;
  border-bottom: 2px solid #CFD8DC;
  color: #607D8B;
  font-size: 22px;
  letter-spacing: 1px;
  overflow: hidden;
  text-decoration-color: #F2F4F4;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link:hover,
.read-btn:hover,
.delete-btn:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
}

.read .link {
  text-decoration-color: #CFD8DC;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.read-btn,
.delete-btn {
  padding: 0;
  border: none;
  background: none;
  color: #455A64;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.read .read-btn {
  color: #F05A28;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

@media screen
and (max-width: 1200px)
and (min-width: 1000px) {

  #linked,
  #list {
    font-size: 60px;
  }

  .icon {
    width: 80px;
    height: 80px;
    padding-bottom: 13px;
  }

}

@media screen
and (max-width: 1000px)
and (min-width: 850px) {

  #linked,
  #list {
    font-size: 45px;
  }

  .icon {
    width: 65px;
    height: 65px;
    padding-bottom: 11px;
  }

}

@media screen
and (max-width: 850px)
and (min-width: 700px) {

  #linked,
  #list {
    font-size: 35px;
  }

  .icon {
    width: 55px;
    height: 55px;
    padding-bottom: 10px;
  }

}

@media screen
and (max-width: 700px)
and (min-width: 569px) {

  #linked,
  #list {
    font-size: 25px;
  }

  .icon {
    width: 45px;
    height: 45px;
    padding-bottom: 8px;
  }

}


@media screen
and (max-width: 568px)
and (min-width: 320px) {

  body {
    display: block;
  }

  .form-container {
    height: 45vh;
    width: 100%;
  }

  .bookmark-container {
    height: 55vh;
    width: 100%;
  }

  #linked {
    margin-right: 4px;
  }

  #list {
    margin-left: 4px;
  }
  #linked,
  #list {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 12px;
  }

  .icon {
    margin-top: 12px;
    height: 35px;
    width: 35px;
  }

  .user-input,
  .enter-btn {
    height: 37px;
    margin: 12px auto;
    width: 85%;
  }

  .bookmark {
    height: 130px;
    margin-top: 18px;
    margin-bottom: 0;
    width: 93%;
  }

  .content {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }

  .title {
    font-size: 19px;
    margin-bottom: 9px;
    padding-bottom: 9px;
  }

  .link {
    font-size: 18px;
    margin-bottom: 9px;
    padding-bottom: 9px;
  }

  .read-btn,
  .delete-btn {
    font-size: 18px;
    padding: 0;
  }

}
