* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.form-container {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #455A64;

}

.header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#linked,
#list {
  display: inline-block;
  margin-top: 0;
  color: #FFFFFF;
  font-size: 70px;
  letter-spacing: 2px;
}

#linked {
  margin-right: 10px;
}

#list {
  margin-left: 10px;
}

.icon {
  width: 100px;
  height: 100px;
  padding-bottom: 15px;
}

.user-input {
  display: block;
  width: 80%;
  height: 40px;
  margin: 25px auto;
  padding-left: 10px;
  color: #455A64;
  font-family: inherit;
  font-size: 25px;
  font-weight: 400;
}

.enter-btn,
.clear-btn {
  width: 80%;
  height: 40px;
  display: block;
  margin: 25px auto;
  border: none;
  background-color: #FFC107;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  outline: none;
}

.enter-btn:hover,
.clear-btn:hover {
  background-color: #FFD773;
  color: #FFFFFF;
}

.enter-btn:disabled,
.clear-btn:disabled {
  background-color: #CFD8DC;
}

.count {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
  color: #CFD8DC;
  font-size: 20px;
  letter-spacing: 1px;
}

.total-count,
.read-count,
.unread-count {
  display: inline-flex;
  padding-left: 5px;
}

.bookmark-container {
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #CFD8DC;
}

.filler-container {
  display: flex;
  height: 100vh;
}

.filler-text {
  align-self: center;
  padding: 10px;
  color: #455A64;
  font-size: 75px;
  opacity: 0.5;
  text-align: center;
}

.bookmark {
  width: 95%;
  margin: 10px;
  border: 3px solid #607D8B;
  background-color: #FFFFFF;
}

.read {
  background-color: #F2F4F4;
}

.content {
  padding: 20px;
}

.title {
  margin: 0;
  padding-bottom: 10px;
  color: #455A64;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  display: block;
  margin-bottom: 20px;
  padding: 20px 0;
  border-top: 2px solid #CFD8DC;
  border-bottom: 2px solid #CFD8DC;
  color: #607D8B;
  font-size: 22px;
  letter-spacing: 1px;
  overflow: hidden;
  text-decoration-color: #F2F4F4;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link:hover,
.read-btn:hover,
.delete-btn:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
}

.read .link {
  text-decoration-color: #CFD8DC;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.read-btn,
.delete-btn {
  padding: 0;
  border: none;
  background: none;
  color: #455A64;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.read .read-btn {
  color: #F05A28;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

/*Between 1300 and 1250, media query for font size, 70px*/
/*Everything above 1300, leave at 75px*/

@media screen and (max-width: 1250px) {
  #linked,
  #list {
    font-size: 60px;
  }
  .icon {
    height: 85px;
    width: 85px;
  }
}

@media screen and (max-width: 1050px) {
  #linked,
  #list {
    font-size: 50px;
  }
  .icon {
    height: 75px;
    width: 75px;
  }
}

@media screen and (max-width: 900px) {
  #linked,
  #list {
    font-size: 40px;
  }
  .icon {
    height: 65px;
    width: 65px;
  }
}

@media screen and (max-width: 760px) {
  body {
    flex-direction: column;
  }
  .form-container {
    justify-content: flex-start;
    min-height: 0;
    width: 100%;
  }
  .header {
    margin-top: 30px;
  }
  .bookmark-container {
    width: 100%;
  }
  .user-input,
  .enter-btn,
  .clear-btn {
    height: 50px;
    width: 90%;
    margin: 15px auto;
  }
  .clear-btn {
    margin-bottom: 30px;
  }
  .count {
    margin-top: 10px;
  }
}

@media screen
and (max-width: 450px)
and (min-width: 360px) {
  #linked,
  #list {
    font-size: 28px;
  }
  .icon {
    height: 40px;
    width: 40px;
    padding-bottom: 10px;
  }
}

@media screen
and (max-width: 360px)
and (min-width: 320px) {
  #linked,
  #list {
    font-size: 25px;
  }
  .icon {
    height: 35px;
    width: 35px;
    padding-bottom: 10px;
  }
  .title {
    font-size: 30px;
  }
  .link {
    font-size: 20px;
  }
}
